* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
